p {
    box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 250px;
    height: 120px;
    background-color: rgb(33, 187, 19);
}


.my-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
